<div class="container" *ngIf="days.length !== 0">

  <div class="row col-12">
    <h2>{{this.city}}:</h2>
  </div>

  <div class="row" style="text-align: center">
    <div class="col-12" style="border: solid 1px #919191">

      <div class="row" style="min-width: 200px">
        <div class="col-6">
          <i class="wi {{days[0].icon}}" style="font-size: 50px; padding: 15px"></i>
          <h3>{{days[0].dayOfWeek}}</h3>
          <div class="row">
            <div class="col-12 temperature">
              <span>{{days[0].temperatureDay}}°C / </span>
              <span>{{days[0].temperatureNight}}°C</span>
            </div>
          </div>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
          <div class="row" style="text-align: left">

            <div class="row">
              <div class="col-12 text-center">
                <span>Humidity: {{weatherData.daily[0].humidity}}%</span>
              </div>
            </div>

            <div class="row">
              <div class="col-12 text-center">
                <span>Pressure: {{weatherData.daily[0].pressure + "hPa"}}</span>
              </div>
            </div>


            <div class="row">
              <div class="col-12 text-center">
                <span>Wind: {{weatherData.daily[0].wind_speed}}m/s</span>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="row" style="text-align: center">
    <div *ngFor="let day of days | slice:1 :days.length-1" class="col-4" style="border: solid 1px #919191; min-width: 110px;">
      <i class="wi {{day.icon}}" style="font-size: 50px; padding: 15px"></i>
      <h3>{{day.dayOfWeek}}</h3>
      <div class="row">
        <div class="col-12 temperature">
          <span>{{day.temperatureDay}}°C / </span>
          <span>{{day.temperatureNight}}°C</span>
        </div>
      </div>
    </div>
  </div>
</div>


