p.navbar-nav {
  color: white;
  font-size: 25px;
  margin-left: 30px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
}

.signIn {
  margin-right: 30px;
  font-size: 18px;
}

.logout-card {
  position: fixed;
  max-width: 18rem;
  border-radius: 14px;
  background-color: #474747;
  border-width: 5px;
  border-color: #2b2b2b;
  /*margin-top: 0;*/
  margin-right: 3px;
  right: 1px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:hover {
  background-color: #525252;
}

a:hover {
  cursor: pointer;
}
