<nav class="navbar navbar-dark bg-dark fixed-top" style="height: 70px; box-shadow: rgba(0, 0, 0, 0.4) 0 5px 15px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="showTags()" style="margin-left: 30px">
    <span class="navbar-toggler-icon"></span>
  </button>
  <p class="navbar-nav me-auto">News aggregator</p>

  <div *ngIf="!isLoggedIn">
    <button class="btn btn-primary signIn" (click)="loginWithGoogle()">Sign In</button>
  </div>
  <div *ngIf="isLoggedIn">
    <a (click)="logoutCardToggler($event)">
      <img src="{{loggedUser!.avatarImage}}" alt="Avatar" class="avatar">
    </a>
  </div>
</nav>

<div class="card text-white logout-card" *ngIf="isLoggedIn && showLogoutCard">
  <div class="card-body">
    <img src="{{loggedUser!.avatarImage}}" alt="Avatar" class="avatar" style="width: 100px; height: 100px; margin-bottom: 20px; margin-left: 54px">
    <h5 class="card-title" style="text-align: center">{{loggedUser!.username}}</h5>
    <p class="card-title" style="text-align: center">{{loggedUser!.email}}</p>
    <button class="btn btn-primary" style="margin-left: 65px; margin-top: 20px" (click)="logOut()">Logout</button>
  </div>
</div>

<div class="container-fluid" style="margin-top: 90px;">
<router-outlet></router-outlet>
</div>


