<div class="row" style="padding-bottom: 250px;">
  <!--  tags list  -->
  <div class="col-2" *ngIf="showTagsList">
    <app-tags-list
      [tagsList]="tagsList"></app-tags-list>
  </div>
  <div class="col-2" *ngIf="!showTagsList"></div>

  <!--  news list  -->
  <div class="col-7">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <h1 class="my-3">Your daily portion of news!</h1>
        </div>
        <div *ngFor="let news of this.newsList" class="row col-12 news my-4">
          <div class="row">
            <div *ngFor="let tag of news.tags" style="width: auto">
              <span>{{tag.name}}</span>
            </div>
          </div>
          <a href="{{news.link}}" class="news-link">
            <div class="row" style="margin-bottom: 20px">
              <div class="col-9" style="margin-top: 20px;">
                <h1>{{news.title}}</h1>
                <p
                  style="color: #a7a7a7; font-size: 15px;">{{news.date.getDate() + "/" + news.date.getMonth() + "/" + news.date.getFullYear()}}</p>
              </div>
              <div class="col-3">
                <!--  fixme  -->
                <!--                <img style="border-radius: 10px;" src="{{news.photo}}" alt="photo" class="news-photo">-->
                <img style="border-radius: 10px;" src="assets/news_image.png" alt="photo" class="news-photo">
              </div>
            </div>
            <div class="row">
              <p>{{news.textPart.slice(0, 220) + "..."}}</p>
            </div>
          </a>
          <div class="row" style="margin-bottom: 15px; margin-top: 20px;">
            <div class="col-1"></div>
            <div class="col-3"
                 style=" margin-top: 10px;"
            >
              <a href=""
                 (click)="showComments($event, news)">{{news.showComments ? "Hide comments" : "Show comments"}}</a>
            </div>
            <div class="col-5"></div>
            <div class="col-2">
              <share-buttons
                *ngIf="this.currentUser"
                style="border: solid 1px #ececec; width: 84px; border-radius: 10px; background-color: #2f3ab2;"
                theme="modern-dark"
                [include]="['facebook']"
                [showIcon]="false"
                [showText]="true"
                url="{{news.link}}"
                description="News aggregator"
              >
              </share-buttons>
            </div>
          </div>


          <!--          comments -->
          <div *ngIf="news.showComments">
            <div *ngFor="let comment of news.comments" class="row" style="margin-bottom: 6px">
              <div class="col-1"></div>
              <div class="col-10 comment">
                <p>{{comment.text}}</p>
                <p *ngIf="this.currentUser && comment.authorEmail != currentUser.email"
                   style="text-align: right; margin-bottom: 0; color: #a7a7a7">{{comment.authorEmail}}</p>

                <div class="row" *ngIf="this.currentUser && comment.authorEmail == currentUser.email">
                  <div class="col-7"></div>
                  <div class="col-4" style="text-align: right;">
                    <button class="btn btn-danger"
                            style="margin-bottom: 0; color: white; width: "
                            (click)="deleteComment(news, comment.id)"
                    >Delete
                    </button>
                  </div>

                </div>


              </div>
              <div class="col-1"></div>
            </div>
            <div class="row">
              <div class="col-1"></div>
              <div class="col-10">
                <div *ngIf="currentUser!=null">
                  <hr>
                  <label for="commentForm">Add new comment</label>
                  <textarea class="form-control" id="commentForm" rows="4" [(ngModel)]="addCommentText"></textarea>
                  <div class="row" style="text-align: right">
                    <div class="col-12">
                      <button class="btn btn-success" style="margin-top: 8px" [disabled]="addCommentText==''"
                              (click)="addNewComment(news)">Add
                      </button>
                    </div>
                  </div>
                </div>


              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>
<!--        comments end  -->

        <!--        page numbers -->
        <div class="row">
          <div class="col-12 my-2 text-center">

            <p style="margin-bottom: 5px">Pages:</p>

            <div class="row my-2">

              <div *ngIf="numberOfPages < 21">
                <a
                  (click)="changePage(dummy+1, $event)"
                  style="font-size: 18px"
                  class="mx-1"
                  *ngFor="let dummy of pageNumberCollection" href=""
                >{{(dummy + 1).toString() + " "}}</a>
              </div>

              <div *ngIf="numberOfPages >= 21">

                <a href=""
                   *ngIf="showStartRedirect"
                   style="font-size: 18px"
                   (click)="changePage(1, $event)"
                >{{1}}</a>
                <span
                  *ngIf="showStartRedirect"
                  style="color: #0d6efd"> ...</span>

                <a
                  (click)="changePage(dummy+1, $event)"
                  style="font-size: 18px"
                  class="mx-1"
                  [ngStyle]="
                  {  'text-decoration': dummy+1==this.currentPageNumber ? 'none' : 'default',
                  'color': dummy+1==this.currentPageNumber ? '#919191' : 'default'}"
                  *ngFor="let dummy of pageNumberCollection" href=""
                >{{(dummy + 1).toString() + " "}}</a>

                <span
                  *ngIf="showEndRedirect"
                  style="color: #0d6efd">... </span>
                <a href=""
                   *ngIf="showEndRedirect"
                   style="font-size: 18px"
                   (click)="changePage(numberOfPages, $event)"
                >{{numberOfPages}}</a>
              </div>

            </div>


          </div>
        </div>

      </div>
      <div class="col-1"></div>
    </div>

    <!--  news list end -->
  </div>

  <!--  weather -->
  <div class="col-3">
    <app-weather></app-weather>
  </div>
</div>



