.news {
  border: solid 2px #a7a7a7;
  border-radius: 5px;
  padding: 10px 10px 20px;
}

a.news-link {
  color: white;
  text-decoration: none;
}

a.news-link:hover {
  color: #91f1ee;
  text-decoration: none;
}

.news-photo {
  max-width: 150px;
  max-height: 150px;
}

a:hover {
  color: #91f1ee;
}

.comment {
  border: solid 1px #a7a7a7;
  border-radius: 11px;
  padding: 10px;
}

.form-control {
  background-color: #212529;
  color: #ececec;
  border-width: 2px;
}
