<div class="frame">
  <div class="row">
    <div class="col-10">
      <h4 style="margin-left: 30px; margin-bottom: 15px">Categories</h4>
      <div class="row" style="margin: 0 0 0 0 !important;">
        <a href="#" (click)="allClicked($event)">
          <div class="row">
            <div class="elem">
              <p>All</p>
            </div>
          </div>
        </a>
      </div>
      <div class="row" *ngFor="let tag of tagsList" style="margin: 0 0 0 0 !important;">
        <a href="#" (click)="onTagClick(tag, $event)">
          <div class="row">
            <div class="elem">
              <p>{{tag.name}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-1" style="border-right: solid 2px #919191">
    </div>
  </div>
</div>

